#projects-section
  #projects-board
    each project in projects
      a(href="#{project.url}").project
        img(src='#{project.icon}')
        .text #{project.shortname}
        - var tagsClasses = "";
        - for(var i = 0; i < project.tags.length; i++) {
        -   tagsClasses += " " + project.tags[i].replace(/[. ]/g, "-");
        - }
        - var text = "<div class='" + tagsClasses + "'></div>";
        .tags!= text
  h2 Projects
  p.
    Here are some of the projects I've done during my programming experience.
    Among them you can find some really old stuff that I just like and also my
    brand new projects. Every non-commercial project is provided with its source
    code so you can grasp into it if you'd like.

  p.
    All sources are provided as-is; use them on your
    own risk (if you're ever going to).

  fieldset#tagButtons
    legend Tags
    each tag in tags
      .toggleTag= tag

script
  $("#projects-section").ready(function () {
    $("a.project").click(function (e) {
      loadUrl(this.href);
      e.preventDefault();
    });
    $(".project")
      .on('mouseenter', function() {
        this.css = this.css || $(this).css('background-color');
        $(this).stop().animate({'backgroundColor' : '#ffff99', duration: 200 });
      })
      .on('mouseleave', function() {
        $(this).stop().animate({'backgroundColor' : this.css, duration: 200});
      });

    // tags
    function filterProjects() {
      var classes = [];
      $("#tagButtons .toggleTag.selected").each(function(key, val){
        var cl = $(val).html().replace(/[. ]/g, "-");
        classes.push(cl);
      });
      $(".project").each(function(key, val){
        var f = true;
        for(var i = 0; i < classes.length; i++) {
          f = f && $(".tags ." + classes[i], $(val)).length;
        }
        if (f) $(this).fadeTo('fase', 1); else $(this).fadeTo('fast', 0.2);
      });
    }

    $("#tagButtons .toggleTag").on('click', function () {
      $(this).toggleClass("selected");
      filterProjects();
    });
  });

