#view-project-section
  h1#name #{project.name}
    - if (project.link)
      a(href="#{project.link}", target="_blank")#link Try online
    - if (project.src)
      a(href="#{project.src}", target="_blank")#src Sources
  #dates
    #start Started: #{project.start}
    #finish Finished: #{project.finish}
  #screenshot
    img(src="#{project.screenshots[0]}")
  #description!= project.description
  #fblike
    fb:like

script
  $("#view-project-section").ready(function() {
    FB.XFBML.parse($("#view-project-section #fblike").get(0));

    $("#view-project-section a").click(function() {
      var t = $(this);
      $.ga.trackOut(t.attr('href'));
      return true;
    });
    $("#view-project-section #description a").attr('target', '_blank');
  });


