#view-project-section
  h1#name #{project.name}
    - if (project.link)
      a(href="#{project.link}")#link Try online
  #dates
    #start Started: #{project.start}
    #finish Finished: #{project.finish}
  #screenshot
    img(src="#{project.screenshots[0]}")
  #description #{project.description}
